.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 56px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 250px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.img-fluid {
	width: 100%;
	height: 200px;
}

.mini-icon {
	font-size: 11px;
}

.tab-content {
	padding-top: 10px;
}

.centrar {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
	margin: 5px 0px;
}
