$yellow: #ebeb3b; 
$green: #6ac429;
$red: #ad3636;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: $green;
	@include margenes(50px, 10px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

footer p {
	color: $red;
}

.card-hotel {
	flex: 1 250px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.img-fluid {
	width: 100%;
	height: 200px;
}

.mini-icon {
	font-size: 11px;
}

.tab-content {
	padding-top: 10px;
}

.centrar {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
	@include margenes(5px, 5px);
	margin-right: 0px;
	margin-left: 0px;
}


