.jumbotron {
  background-color: #ebeb3b;
  color: #6ac429;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ebeb3b;
  margin-top: 10px;
  margin-bottom: 0px; }

footer p {
  color: #ad3636; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  width: 100%;
  height: 200px; }

.mini-icon {
  font-size: 11px; }

.tab-content {
  padding-top: 10px; }

.centrar {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px; }

/*# sourceMappingURL=styles.css.map */
