@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px) {
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);}

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);}

.card-hotel {
  flex: 1 250px;
  .margenes(10px, 0px);}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  width: 100%;
  height: 200px; }

.mini-icon {
  font-size: 11px; }

.tab-content {
  padding-top: 10px; }

.centrar {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img {
  .margenes(5px, 5px);
  margin-right: 0px;
  margin-left: 0px; }
